<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <meta charset="UTF-8">
    <title>07_02_Filter</title>
   <script src="../js/jquery.js"></script>
    <script src="../js/angular-1.2.16/angular.js"></script>

    <script type="text/javascript">
        var module = angular.module("sampleApp", []);

        // 1.================================
        module.controller("1stCtrl", ['$scope', function($scope) {
            $scope.userList = [
                               { userId : 'Jay', userName: '제이', userEmail: 'jay@ng.com' },
                               { userId : 'soon', userName: '순이', userEmail: 'soon@ng.com' },
                               { userId : 'cindy', userName: '가영', userEmail: 'cindy@ng.com' },
                               { userId : 'mino', userName: '민호', userEmail: 'mino@ng.com' },
                               { userId : 'taepong', userName: '태홍', userEmail: 'taepong@ng.com' }
            ];
        }]);
        // 1.================================

    </script>
</head>
<body>
<!-- 1.======================== -->
<div ng-controller="1stCtrl">
    <h1>Useage Filter..</h1>
    <div>사용자 이름 : <input type="text" ng-model="search.userName"></div>
    <ul>
        <li ng-repeat="user in userList | filter:search">
            <p>{{user.userId}} | {{ user.userName}} | {{user.userEmail}}</p>
        </li>
    </ul>

    <h2>limitTo 필터 사용</h2>
    <div>제한갯수 : <input type="number" ng-model="limitNum"></div>
    <ul>
        <li ng-repeat="user in userList | limitTo:limitNum">
            <p>{{user.userId}} | {{ user.userName}} | {{user.userEmail}}</p>
        </li>
    </ul>

    <h2>orderBy 필터 사용</h2>
    <div>
        정렬순서:
        아이디 <input type="radio" ng-model="order" value="userId">
        이름 <input type="radio" ng-model="order" value="userName">
        <br>
        역순여부 :
        <input type="checkbox" ng-model="reverse">
    </div>
    <ul>
        <li ng-repeat="user in userList | orderBy:order:reverse">
            <p>{{user.userId}} | {{ user.userName}} | {{user.userEmail}}</p>
        </li>
    </ul>

</div>

<!-- 3.======================== -->
<hr>

</body>
</html>